<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/acc.css">
    <title>Accueil</title>
</head>
<body>
    
    <header>
        <h1>Bienvenue au Restaurant Mariziki</h1>
    </header>

        <h1><%= maSalutation %>, <%= prenom %> <%= nom %>!</h1>
        <p>Bienvenue sur la page d'accueil de notre restaurant.</p>
        
    <section class="accueil">
        <div class="intro">
            <h2>Découvrez notre cuisine </h2>
            <p>Chez Restaurant Mariziki, nous proposons des plats </p>
        </div>

        <div class="cta">
            <h3>Prêt à commander ?</h3>
            
            <p>Explorez notre menu et laissez-vous tenter par nos délicieuses créations. Faites-nous confiance pour une expérience gustative unique!</p>

            <a href="menu.ejs" class="btn">Voir le Menu</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Restaurant Mariziki - Tous droits réservés</p>
    </footer>
</body>
</html>
